@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "nav" "main";
}

@media (min-width: 768px) {
  .wrapper {
    -ms-grid-columns: 8rem 1fr;
        grid-template-columns: 8rem 1fr;
        grid-template-areas: "header header" "nav main";
  }
}

@media (min-width: 1440px) {
  .wrapper {
    -ms-grid-columns: 11rem 1fr;
        grid-template-columns: 11rem 1fr;
  }
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "dashboard" "alert" "traffic" "daily-traffic" "mobile-users" "social-stats" "new-members" "recent-activity" "message-user" "settings";
}

@media (min-width: 768px) {
  main {
    -ms-grid-columns: (minmax(20rem, 100vh))[2];
        grid-template-columns: repeat(2, minmax(20rem, 100vh));
        grid-template-areas: "dashboard dashboard" "alert alert" "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "new-members recent-activity" "message-user settings";
  }
}

.main-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: dashboard;
}

.alert {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: alert;
}

.traffic {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: traffic;
}

.daily {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: daily-traffic;
}

.mobile {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: mobile-users;
}

.social-stats {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: social-stats;
}

.members {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: new-members;
}

.recent-activity {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: recent-activity;
}

.message {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: message-user;
}

.settings {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: settings;
}

header {
  background: #7477bf;
  color: #fffffe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  padding: 1rem;
}

@media (min-width: 1024px) {
  header {
    padding: 1.5rem;
  }
}

header h1 {
  margin-right: auto;
  padding-left: 0.5rem;
  font-size: 2rem;
  font-weight: 100;
  text-shadow: #2b2c34 0.5px 0.5px;
}

@media (min-width: 768px) {
  header h1 {
    padding-left: 1rem;
  }
}

@media (min-width: 1440px) {
  header h1 {
    padding-left: 2rem;
    font-size: 2.5rem;
  }
}

header h1 .title-text {
  color: #fffffe;
  font-weight: 500;
}

header h1 .trademark {
  font-size: 1.5rem;
  position: relative;
  bottom: 0.3rem;
  font-weight: 100;
}

@media (min-width: 1440px) {
  header h1 .trademark {
    font-size: 1.8rem;
  }
}

header .bell {
  width: 3.5rem;
  height: 3.3rem;
  border-right: 1px solid #2b2c34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

header .bell svg:hover {
  background-color: #d1d1e9;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

header .bell #notification {
  width: 0.7rem;
  height: 0.5rem;
  background-color: #85db81;
  border-radius: 50%;
  position: relative;
  top: 0.3rem;
  right: 0.5rem;
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

header img {
  width: 4.5rem;
  border-radius: 50%;
  display: block;
  padding: 0 0.5rem;
}

@media (min-width: 1440px) {
  header img {
    width: 5rem;
  }
}

header h3 {
  text-shadow: #2b2c34 0.5px 0.5px;
  margin: 0;
  text-transform: none;
}

@media (min-width: 768px) {
  header h3 {
    margin-right: 1rem;
  }
}

@media (min-width: 1024px) {
  header h3 {
    margin-right: 2rem;
  }
}

@media (min-width: 1440px) {
  header h3 {
    margin-right: 3rem;
    font-size: 1.6rem;
  }
}

nav {
  background-color: #393b7b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

nav a {
  margin: 0.5rem 1rem;
}

@media (min-width: 768px) {
  nav a {
    margin: 2rem;
  }
}

@media (min-width: 1440px) {
  nav a {
    margin: 2.5rem;
  }
}

nav img {
  width: 2.5rem;
}

@media (min-width: 768px) {
  nav img {
    width: 3rem;
  }
}

@media (min-width: 1440px) {
  nav img {
    width: 3.5rem;
  }
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header h2 {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0 1rem;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .main-header h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 1.5rem 1rem;
  }
}

@media (min-width: 1024px) {
  .main-header h2 {
    margin: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .main-header h2 {
    margin: 2rem 2.5rem;
  }
}

.main-header .main-header-search {
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  background: #fafafa;
  width: 70%;
  text-align: right;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .main-header .main-header-search {
    width: 85%;
  }
}

@media (min-width: 1024px) {
  .main-header .main-header-search {
    width: 90%;
  }
}

.main-header .main-header-search input {
  margin-right: 1rem;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  width: 65%;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .main-header .main-header-search input {
    width: 50%;
    margin: 1rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .main-header .main-header-search input {
    width: 40%;
    margin: 1rem 2rem;
  }
}

@media (min-width: 1440px) {
  .main-header .main-header-search input {
    width: 30%;
    margin: 1rem 3.5rem;
  }
}

.alert {
  margin: 1.5rem 1.5rem 1rem;
}

@media (min-width: 768px) {
  .alert {
    margin: 1.5rem 2.5rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .alert {
    margin: 1.5rem 3rem 1.5rem;
  }
}

@media (min-width: 1440px) {
  .alert {
    margin: 1.5rem 4rem 1.5rem;
  }
}

.alert .alert-banner {
  background-color: #7477bf;
  color: #fffffe;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  border-radius: 3px;
}

.alert .alert-banner p {
  padding: 1rem;
}

.alert .alert-banner .alert-banner-close {
  font-weight: 400;
  cursor: pointer;
}

.traffic .traffic-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

@media (min-width: 768px) {
  .traffic .traffic-header {
    margin: 2rem;
  }
}

@media (min-width: 1024px) {
  .traffic .traffic-header {
    margin: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .traffic .traffic-header {
    margin: 3.5rem;
  }
}

.traffic .traffic-header h3 {
  margin: 0;
}

.traffic .traffic-header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.traffic .traffic-header ul li {
  margin: 0 0.5rem;
  font-size: 1.2rem;
}

.traffic .widget-container-full {
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .traffic .widget-container-full {
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .traffic .widget-container-full {
    padding: 0 2.5rem;
  }
}

@media (min-width: 1440px) {
  .traffic .widget-container-full {
    padding: 0 3.5rem;
  }
}

.daily .widget-container-half,
.mobile .widget-container-half {
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .daily .widget-container-half,
  .mobile .widget-container-half {
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .daily .widget-container-half,
  .mobile .widget-container-half {
    padding: 0 2.5rem;
  }
}

@media (min-width: 1440px) {
  .daily .widget-container-half,
  .mobile .widget-container-half {
    padding: 0 3.5rem;
  }
}

@media (min-width: 768px) {
  .social-stats .stat-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social-stats .stat-container .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
  border: 1px solid #dfdfdf;
  margin: 1.5rem 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .social-stats .stat-container .social-container {
    padding: 1.5rem;
    margin: 1.5rem;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .social-stats .stat-container .social-container {
    padding: 2rem;
    margin: 2rem;
  }
}

@media (min-width: 1440px) {
  .social-stats .stat-container .social-container {
    padding: 2rem;
    margin: 2.5rem;
  }
}

.social-stats .stat-container .social-container .social-image {
  width: 80px;
  height: 80px;
  background: #7477bf;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .social-stats .stat-container .social-container .social-image {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1024px) {
  .social-stats .stat-container .social-container .social-image {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 1440px) {
  .social-stats .stat-container .social-container .social-image {
    width: 100px;
    height: 100px;
  }
}

.social-stats .stat-container .social-container .social-image img {
  display: block;
  width: 50%;
}

.social-stats .stat-container .social-container .social-text-title {
  color: #7477bf;
  font-size: 1.6rem;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .social-stats .stat-container .social-container .social-text-title {
    font-size: 1.8rem;
  }
}

@media (min-width: 1440px) {
  .social-stats .stat-container .social-container .social-text-title {
    font-size: 2rem;
  }
}

.social-stats .stat-container .social-container .social-text-stat {
  font-size: 3.5rem;
  font-weight: 100;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .social-stats .stat-container .social-container .social-text-stat {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .social-stats .stat-container .social-container .social-text-stat {
    font-size: 4.5rem;
  }
}

@media (min-width: 1440px) {
  .social-stats .stat-container .social-container .social-text-stat {
    font-size: 5.5rem;
  }
}

.members .members-container,
.recent-activity .members-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  margin: 0 1rem;
}

.members .members-container:last-child,
.recent-activity .members-container:last-child {
  border-bottom: none;
}

.members .members-container .profile-image,
.recent-activity .members-container .profile-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .members .members-container .profile-image,
  .recent-activity .members-container .profile-image {
    width: 4rem;
    height: 4rem;
  }
}

@media (min-width: 1024px) {
  .members .members-container .profile-image,
  .recent-activity .members-container .profile-image {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 1440px) {
  .members .members-container .profile-image,
  .recent-activity .members-container .profile-image {
    width: 6rem;
    height: 6rem;
  }
}

.members .members-container .members-text,
.recent-activity .members-container .members-text {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  margin-left: 1rem;
}

.members .members-container .members-text p,
.members .members-container .members-text a,
.recent-activity .members-container .members-text p,
.recent-activity .members-container .members-text a {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .members .members-container .members-text p,
  .members .members-container .members-text a,
  .recent-activity .members-container .members-text p,
  .recent-activity .members-container .members-text a {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .members .members-container .members-text p,
  .members .members-container .members-text a,
  .recent-activity .members-container .members-text p,
  .recent-activity .members-container .members-text a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1440px) {
  .members .members-container .members-text p,
  .members .members-container .members-text a,
  .recent-activity .members-container .members-text p,
  .recent-activity .members-container .members-text a {
    font-size: 1.4rem;
  }
}

.members .members-container .join-date,
.members .members-container .read-more,
.recent-activity .members-container .join-date,
.recent-activity .members-container .read-more {
  font-size: 1.2rem;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 1440px) {
  .members .members-container .join-date,
  .members .members-container .read-more,
  .recent-activity .members-container .join-date,
  .recent-activity .members-container .read-more {
    font-size: 1.4rem;
  }
}

.members .members-container .read-more,
.recent-activity .members-container .read-more {
  color: #7477bf;
}

@media (min-width: 768px) {
  .message {
    border-bottom: none;
  }
}

.message .widget-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .message .widget-container {
    margin: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .message .widget-container {
    margin: 0 3rem;
  }
}

@media (min-width: 1440px) {
  .message .widget-container {
    margin: 0 4rem;
  }
}

.message .widget-container .form-field,
.message .widget-container .form-area {
  margin: 1rem 0;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  padding: 1rem;
  background: #fafafa;
}

.message .widget-container .form-area {
  height: 10rem;
}

.settings {
  padding-bottom: 1.5rem;
}

.settings .settings-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5rem 1rem;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .settings .settings-toggle {
    margin: 2.5rem 2rem;
  }
}

@media (min-width: 1024px) {
  .settings .settings-toggle {
    margin: 2.63rem 3rem;
  }
}

@media (min-width: 1440px) {
  .settings .settings-toggle {
    margin: 2.63rem 4rem;
  }
}

.settings .settings-toggle .onoffswitch {
  position: relative;
  width: 9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.settings .settings-toggle .onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.settings .settings-toggle .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #dfdfdf;
  border-radius: 20px;
}

.settings .settings-toggle .onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.settings .settings-toggle .onoffswitch-inner:before,
.settings .settings-toggle .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 2.4rem;
  padding: 0;
  line-height: 24px;
  font-size: 1.4rem;
  color: #fffffe;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.settings .settings-toggle .onoffswitch-inner:before {
  content: "ON";
  padding-left: 1rem;
  background-color: #7477bf;
  color: #fffffe;
}

.settings .settings-toggle .onoffswitch-inner:after {
  content: "OFF";
  padding-right: 1rem;
  background-color: #fffffe;
  color: #dfdfdf;
  text-align: right;
}

.settings .settings-toggle .onoffswitch-switch {
  display: block;
  width: 1.8rem;
  margin: 0.6rem;
  background: #fffffe;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5.6rem;
  border: 2px solid #dfdfdf;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.settings .settings-toggle .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.settings .settings-toggle .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.settings .timezone-option {
  margin: 1.5rem 1rem;
}

@media (min-width: 768px) {
  .settings .timezone-option {
    margin: 1.5rem 2rem;
  }
}

@media (min-width: 1024px) {
  .settings .timezone-option {
    margin: 1.5rem 3rem;
  }
}

@media (min-width: 1440px) {
  .settings .timezone-option {
    margin: 1.5rem 4rem;
  }
}

.settings .timezone-option .form-field {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  padding: 1rem;
  background: #fafafa;
}

.settings .settings-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .settings .settings-button {
    margin: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .settings .settings-button {
    margin: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .settings .settings-button {
    margin: 0 4rem;
  }
}

.settings .settings-button button {
  width: 47%;
}

@media (min-width: 768px) {
  .settings .settings-button button {
    padding: 1.2rem;
    margin-top: 1.4rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fffffe;
}

main {
  color: #2b2c34;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1.5rem 1rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 1.5rem 2rem;
  }
}

@media (min-width: 1024px) {
  h3 {
    margin: 1.5rem 2.5rem;
  }
}

@media (min-width: 1440px) {
  h3 {
    margin: 1.5rem 3.5rem;
  }
}

.traffic,
.daily,
.mobile,
.social-stats,
.members,
.recent-activity,
.message {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .traffic,
  .daily,
  .mobile,
  .social-stats,
  .members,
  .recent-activity,
  .message {
    padding-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .traffic,
  .daily,
  .mobile,
  .social-stats,
  .members,
  .recent-activity,
  .message {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .traffic,
  .daily,
  .mobile,
  .social-stats,
  .members,
  .recent-activity,
  .message {
    padding-bottom: 3.5rem;
  }
}

@media (min-width: 768px) {
  .daily,
  .members,
  .message {
    border-right: 1px solid #dfdfdf;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #2b2c34;
  font-weight: 400;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #2b2c34;
  font-weight: 400;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #2b2c34;
  font-weight: 400;
}

input::placeholder,
textarea::placeholder {
  color: #2b2c34;
  font-weight: 400;
}

button {
  margin: 1rem 0;
  border-radius: 4px;
  padding: 1.4rem;
  color: #fffffe;
  border: none;
  font-size: 1.2rem;
}

.button-primary {
  background: #7477bf;
}

.button-cancel {
  background-color: #fffffe;
  border: 2px solid #2b2c34;
  color: #2b2c34;
}
