.main-header {
	display: flex;
	justify-content: space-between;

	h2 {
		font-size: 16px;
		font-weight: 400;
		padding: 0 0.5rem;
		margin: 1rem 0;
	}
	.main-header-search {
		border-left: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		border-bottom-left-radius: 7px;
		background: #fbfbfb;
		width: 70%;
		text-align: right;

		@include tablet {
			width: 85%;
		}
		@include desktop {
			width: 90%;
		}

		input {
			margin-top: 0.5rem;
			margin-right: 0.7rem;
			border-radius: 4px;
			border: 1px solid #e5e5e5;
			width: 65%;
			padding: 0.3rem;

			@include tablet {
				width: 50%;
			}
		}
	}
}

.alert {
	margin: 1rem 1rem 0.5rem;

	.alert-banner {
		background-color: #7477bf;
		color: #fff;
		font-size: 12px;
		display: flex;
		justify-content: space-between;
		font-weight: 300;
		min-width: 100%;

		p {
			padding: 0 0.5rem;
		}
		.alert-banner-close {
			font-weight: 400;
			cursor: pointer;
		}
	}
}

.traffic {
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 1rem;

	.traffic-header {
		display: flex;
		justify-content: space-between;
		margin: 0 1rem;

		h3 {
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
		}
		ul {
			list-style-type: none;
			display: flex;
			align-items: center;

			li {
				margin: 0 0.3rem;
				font-size: 12px;
			}
		}
	}
	.widget-container-full {
		padding: 0 0.7rem;
	}
}

.daily,
.members,
.message {
	@include tablet {
		border-right: 1px solid #d2d2d2;
	}
}

.daily,
.mobile {
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 1rem;

	h3 {
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 1rem;
	}
	.widget-container-half {
		padding: 0 0.7rem;
	}
}

.social-stats {
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 1rem;

	h3 {
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 1rem;
	}
	.stat-container {
		@include tablet {
			display: flex;
			justify-content: space-around;
		}
	}
	.social-container {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fbfbfb;
		border: 1px solid #d1d1d1;
		margin: 1rem;

		@include tablet {
			width: 100%;
		}

		.social-image {
			min-width: 100px;
			height: 100px;
			background: #7477bf;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;

			@include tablet {
				min-width: 50px;
				height: 50px;
			}

			img {
				display: block;
				width: 50%;
			}
		}
		.social-text-title {
			color: #7477bf;
			font-size: 1rem;
			margin-bottom: 0;
			margin-left: 1rem;

			@include tablet {
				font-size: 14px;
			}
		}
		.social-text-stat {
			font-size: 2.5rem;
			margin-top: 0;
			font-weight: 100;
			margin-left: 1rem;

			@include tablet {
				font-size: 2rem;
			}
		}
	}
}

.members,
.recent-activity {
	border-bottom: 1px solid #d2d2d2;

	h3 {
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 1rem;
	}
	.members-container {
		display: flex;
		padding: 1rem;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #d2d2d2;
		margin: 0 1rem;

		&:nth-last-of-type(4n + 1) {
			border-bottom: none;
		}

		.profile-image {
			width: 40px;
			border-radius: 50%;
			height: 40px;
		}
		.members-text {
			flex-grow: 10;
			margin-left: 0.5rem;

			p {
				font-size: 10px;
				margin: 0;
			}
			a {
				font-size: 10px;
			}
		}
		.join-date,
		.read-more {
			font-size: 12px;
			margin: 0;
			align-self: center;
		}
		.read-more {
			color: #7477bf;
		}
	}
}

.message {
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 1rem;

	@include tablet {
		border-bottom: none;
	}

	h3 {
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 1rem;
	}
	.widget-container {
		display: flex;
		flex-direction: column;
		margin: 0 1rem;

		.form-field,
		.form-area {
			margin: 0.5rem 0;
			border-radius: 4px;
			border: 1px solid #e5e5e5;
			padding: 0.7rem;
			background: #fbfbfb;
		}
		.form-area {
			height: 100px;
		}
	}
}

.settings {
	h3 {
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 1rem 1rem 1.5rem;
	}
	.settings-toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 1rem 1.81rem;
		font-size: 12px;

		.onoffswitch {
			position: relative;
			width: 90px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}
		.onoffswitch-checkbox {
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}
		.onoffswitch-label {
			display: block;
			overflow: hidden;
			cursor: pointer;
			border: 2px solid #999999;
			border-radius: 20px;
		}
		.onoffswitch-inner {
			display: block;
			width: 200%;
			margin-left: -100%;
			transition: margin 0.3s ease-in 0s;
		}
		.onoffswitch-inner:before,
		.onoffswitch-inner:after {
			display: block;
			float: left;
			width: 50%;
			height: 24px;
			padding: 0;
			line-height: 24px;
			font-size: 14px;
			color: white;
			font-family: Trebuchet, Arial, sans-serif;
			font-weight: bold;
			box-sizing: border-box;
		}
		.onoffswitch-inner:before {
			content: "ON";
			padding-left: 10px;
			background-color: #7477bf;
			color: #ffffff;
		}
		.onoffswitch-inner:after {
			content: "OFF";
			padding-right: 10px;
			background-color: #eeeeee;
			color: #999999;
			text-align: right;
		}
		.onoffswitch-switch {
			display: block;
			width: 18px;
			margin: 6px;
			background: #ffffff;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 56px;
			border: 2px solid #999999;
			border-radius: 20px;
			transition: all 0.3s ease-in 0s;
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
			margin-left: 0;
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
			right: 0px;
		}
	}
	.timezone-option {
		margin: 0.5rem 1rem;

		.form-field {
			width: 100%;
			border-radius: 4px;
			border: 1px solid #e5e5e5;
			padding: 0.7rem;
			background: #fbfbfb;
		}
	}
	.settings-button {
		display: flex;
		margin: 0 1rem;
		justify-content: space-between;

		button {
			width: 47%;
		}
	}
}
