header {
	background: #7477bf;
	color: #eee;
	display: flex;
	align-items: center;
	font-size: 10px;
	padding: 0 0.5rem;

	h1 {
		margin-right: auto;
		padding-left: 0.2rem;
		font-size: 20px;
		font-weight: 100;
		text-shadow: black 0.5px 0.5px;

		.title-text {
			color: #fff;
			font-weight: 500;
		}
		.trademark {
			font-size: 15px;
			position: relative;
			bottom: 3px;
		}
	}
	.bell {
		width: 35px;
		height: 33px;
		border-right: 1px solid white;
		display: flex;
		margin-right: 0.3rem;
		padding-right: 0.5rem;
		cursor: pointer;

		svg:hover {
			background-color: #e2e3f6;
			transition: 0.5s ease-out;
		}

		#notification {
			width: 7px;
			height: 5px;
			background-color: #85db81;
			border-radius: 50%;
			position: relative;
			top: 3px;
			right: 5px;
		}
	}
	img {
		width: 45px;
		border-radius: 50%;
		display: block;
		padding: 0 0.5rem;
	}
	h3 {
		font-weight: 400;
		text-shadow: black 0.5px 0.5px;
	}
}
