header {
	background: $primary-color;
	color: $text-light;
	display: flex;
	align-items: center;
	font-size: 1rem;
	padding: 1rem;

	@include desktop {
		padding: 1.5rem;
	}
	@include ultrawide {
		// padding: 2rem;
	}

	h1 {
		margin-right: auto;
		padding-left: 0.5rem;
		font-size: 2rem;
		font-weight: 100;
		text-shadow: $text-dark 0.5px 0.5px;

		@include tablet {
			padding-left: 1rem;
		}
		@include ultrawide {
			padding-left: 2rem;
			font-size: 2.5rem;
		}

		.title-text {
			color: $text-light;
			font-weight: 500;
		}
		.trademark {
			font-size: 1.5rem;
			position: relative;
			bottom: 0.3rem;
			font-weight: 100;

			@include ultrawide {
				font-size: 1.8rem;
			}
		}
	}
	.bell {
		width: 3.5rem;
		height: 3.3rem;
		border-right: 1px solid $stroke;
		display: flex;
		margin-right: 1rem;
		padding-right: 0.5rem;
		cursor: pointer;

		svg:hover {
			background-color: $secondary-color;
			transition: 0.5s ease-out;
		}

		#notification {
			width: 0.7rem;
			height: 0.5rem;
			background-color: $notification;
			border-radius: 50%;
			position: relative;
			top: 0.3rem;
			right: 0.5rem;
		}
	}
	img {
		width: 4.5rem;
		border-radius: 50%;
		display: block;
		padding: 0 0.5rem;

		@include ultrawide {
			width: 5rem;
		}
	}
	h3 {
		text-shadow: $text-dark 0.5px 0.5px;
		margin: 0;
		text-transform: none;

		@include tablet {
			margin-right: 1rem;
		}
		@include desktop {
			margin-right: 2rem;
		}
		@include ultrawide {
			margin-right: 3rem;
			font-size: 1.6rem;
		}
	}
}
