header {
	background: $primary-color;
	color: $text-light;
	display: flex;
	align-items: center;
	font-size: 1rem;
	padding: 1rem;

	@include desktop {
		padding: 1.5rem;
	}
	@include ultrawide {
		// padding: 2rem;
	}

	h1 {
		margin-right: auto;
		padding-left: 0.5rem;
		font-size: 2rem;
		font-weight: 100;
		text-shadow: $text-dark 0.5px 0.5px;

		@include tablet {
			padding-left: 1rem;
		}
		@include ultrawide {
			padding-left: 2rem;
			font-size: 2.5rem;
		}

		.title-text {
			color: $text-light;
			font-weight: 500;
		}
		.trademark {
			font-size: 1.5rem;
			position: relative;
			bottom: 0.3rem;
			font-weight: 100;

			@include ultrawide {
				font-size: 1.8rem;
			}
		}
	}
	.bell {
		width: 4rem;
		height: 3.7rem;
		border-right: 1px solid $stroke;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 1rem;
		padding-right: 0.2rem;
		cursor: pointer;

		.noti {
			width: 50%;
		}

		.noti:hover {
			transform: scale(1.4);
			transition: 0.5s ease-out;
		}

		#notification {
			width: 0.7rem;
			height: 0.5rem;
			align-self: flex-start;
			background-color: $notification;
			border-radius: 50%;
			position: relative;
			top: 0.8rem;
			right: 0.3rem;

			box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
			transform: scale(1);
			animation: pulse 2s infinite;
		}
		.dropdown-content {
			display: none;
			position: absolute;
			top: 4rem;
			right: 18rem;
			background-color: $background-shade;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;
		}
		.dropdown-content a {
			color: $text-dark;
			font-size: 1.5rem;
			padding: 1.5rem 2rem;
			text-decoration: none;
			display: block;
			border-bottom: $border;

			&:last-child {
				border-bottom: none;
			}
		}
		.dropdown-content a:hover {
			background-color: darken($background-shade, 10%);
		}
		.show {
			display: block;
		}
	}
	img {
		width: 4.5rem;
		border-radius: 50%;
		display: block;
		padding: 0 0.5rem;

		@include ultrawide {
			width: 5rem;
		}
	}
	h3 {
		text-shadow: $text-dark 0.5px 0.5px;
		margin: 0;
		text-transform: none;

		@include tablet {
			margin-right: 1rem;
		}
		@include desktop {
			margin-right: 2rem;
		}
		@include ultrawide {
			margin-right: 3rem;
			font-size: 1.6rem;
		}
	}
}
