nav {
	background-color: darken($primary-color, 25%);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;

	@include tablet {
		flex-direction: column;
		justify-content: flex-start;
	}

	a {
		margin: 0.5rem 1rem;

		@include tablet {
			margin: 2rem;
		}
		@include ultrawide {
			margin: 2.5rem;
		}
	}
	img {
		width: 2.5rem;

		@include tablet {
			width: 3rem;
		}
		@include ultrawide {
			width: 3.5rem;
		}
	}
}
